/* 畫面樣式 */
#full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 150, 150, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9000;
};

#staticBackdrop{
    width: 80%;
    height: 60%;
}

.sequence {
    font-family: monospace;
    text-align: center;
}

.red {
    color: red;
    display: inline;
}

#staticBackdrop {
    z-index: 9999;
    width: 600px;
    height: 900px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}